* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.contenedor-encabezado {
    background-color: #4900C7;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    color: white;
    top: 0;
    padding: 0 0 0 0;
}

.titulo-pagina {
    font-weight: bold;
    font-size: 100px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-imagen {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: auto;
    padding: 15% 15%; /* 15% arriba y abajo, 15% izquierda y derecha */
}

nav ul {
    display: flex;
    list-style: none;
}

nav a {
    font-style: italic;
    text-decoration: none;
    color: white;
    position: relative;
    padding: 8px 40px;
    font-size: 30px;
}

.splide__slide img {
  width: 100%;
  height: auto;
}

.contenedor_juego_nuevo {
    display: flex;
    background-image: url("../img/requiem_horiz.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    width: 100%;
    justify-content: flex-end;
    border: 1px solid black;
}

.contenedor_juego_nuevo_texto {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 25%;
    padding-left: 2%;
}

.juego_nuevo_titulo {
    font-size: 50px;
    color: white;
}

.juego_nuevo_subtitulo {
    font-size: 20px;
    color: white;
    padding-bottom: 50px;
}

.boton_juego_nuevo {
    align-self: center;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border: 2px solid white;
    padding: 1% 2%;
}

.contenedor_tienda_juego {
    display: flex;
    flex-direction: row;
    height: 750px;
}

.contenedor_tienda_juego_portada {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.contenedor_tienda_juego_detalles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.portada_juego_grande {
    height: auto;
    width: 500px;
    margin-left: 20%;
}

.juego_detalles_titulo {
    font-size: 30px;
    color: black;
    font-weight: bold;
    margin-left: 10%;
    margin-right: 20%;
    margin-top: 15%;
}

.juego_detalles_descripcion {
    font-size: 20px;
    color: black;
    margin-left: 10%;
    margin-right: 20%;
}

.juego_detalles_precio {
    font-size: 40px;
    color: #CC0000;
    font-weight: bold;
    margin-left: 10%;
    margin-right: 20%;
}

.boton_comprar {
    align-self: left;
    margin-left: 10%;
    text-decoration: none;
    font-size: 20px;
    color: black;
    border: 2px solid black;
    padding: 1% 2%;
}